/**
 * NexusLIMS Detail Page - Accordions
 * Collapsible panels for metadata and parameter tables
 */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.active-accordian, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-accordion:after {
    content: '\2212';
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -moz-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    width: 95%;
}

/* Activity header row */
.aa_header_row {
    margin-bottom: .5em;
    margin-top: 10px;
}

.aa_header_row .dt_paginate_container {
    margin-top: 0px;
}

.aa_header_row > .col-md-12 {
    padding-top: 10px;
}

.aa_header_row .dataTables_paginate {
    float: right;
}
