{# Fragment template for custom toolbar #}
<div class="nexuslims-custom-toolbar">
    {% if data %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-outline-primary" id="nexuslims-edit-btn">
                <i class="fa fa-edit"></i> Edit
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="nexuslims-copy-pid">
                <i class="fa fa-copy"></i> Copy PID
            </button>
        </div>
    {% endif %}
</div>
