{% load static %}

<div id="footer">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="py-1 ps-0 ps-lg-5">
            {% if NX_FOOTER_LINK %}
                <a href="{{ NX_FOOTER_LINK }}">
                    <img src="{% static NX_FOOTER_LOGO %}" alt="footer-logo" class="footer-logo"/>
                </a>
            {% endif %}
        </div>
        <div class="footer-meta p-1 pe-0 pe-lg-5">
            <a class="small" href="{% url "core_website_app_terms" %}">Terms of Use</a>
            <span class="footer-separator">|</span>
            <a
                class="nexuslims-version-link small"
                href="https://datasophos.github.io/NexusLIMS/stable/frontend_guide/changelog.html"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img
                    src="{% static 'nexuslims/img/icon.svg' %}"
                    alt=""
                    class="nexuslims-version-icon"
                    aria-hidden="true"
                />
                NexusLIMS Frontend v. {{ NX_BASE_VERSION }}
                {% if NX_SUBVERSION %}
                    <code class="nexuslims-subversion">({{ NX_SUBVERSION }})</code>
                {% endif %}
                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                <span class="visually-hidden">(opens in a new tab)</span>
            </a>
        </div>
    </div>
</div>
