/**
 * NexusLIMS Homepage Styles
 */

#intro {
    margin-top: -1rem !important;
}

#intro h1 {
    /*color: var(--nx-primary-color, #005a9c);*/
    margin-bottom: 1rem;
}

/* Logo styling */
#nexuslims-logo,
.nexuslims-logo {
    max-width: 100%;
    height: auto;
    display: block;
}

#tiles {
    margin-top: 0;
}

#homepage-tutorial {
    color: var(--nx-primary-color, #005a9c);
    font-weight: 500;
}

/* tiles css */

/* Media queries for responsive layout */
@media (max-width: 767.98px) {
    /* Styles for screens below md breakpoint (sm, xs) */
    #homepage-text-col {
        padding-left: 40px;  /* add 20px to overcome negative marging from row */
        padding-right: 20px;
    }

    /* hide logo on narrow displays (it's in the top nav anyway */
    #homepage-logo-col {
        display: none;
    }
}

.tile .icon {
    background-color: #11659c;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("../img/bg01.png");
    border-radius: 100%;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    color: #fff;
    cursor: default;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin: 0.5em 0.75em 0.25em 0.25em;
    width: 2em;
    font-size: 2em;

    float: left;
    text-align: center;
}

.tile {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: inherit;
    padding: 0px 30px;
    transition: all 0.3s ease-in-out;
}

.tile a > i {
    color: white;
}

.tile a:hover {
    color: var(--nx-primary-color)
}

.tile a div.icon {
    cursor: pointer;
}

.tile a div.icon:hover {
    background-color: #f5c636;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.tile a div.icon:hover + a {
    background-color: #f5c636;
    color: #333;
    transition: all 0.3s ease-in-out;
}
