/**
 * NexusLIMS Main Stylesheet
 *
 * Central location for all NexusLIMS customizations.
 * Import this in base templates to apply all customizations.
 */

/* Import individual component styles */
@import url('homepage.css');
@import url('detail.css');
@import url('search.css');
@import url('toolbar.css');
@import url('login.css');

/* Global NexusLIMS styles */
:root {
    --nx-primary-color: #11659c;
    --nx-secondary-color: #6c757d;
    --nx-success-color: #28a745;
    --nx-danger-color: #dc3545;
    --nx-warning-color: #ffc107;
    --nx-info-color: #17a2b8;
}

/* NexusLIMS branding */
.nexuslims-nav-logo {
    max-height: 60px;
}

.nexuslims-custom-header {
    background-color: var(--nx-primary-color);
    color: white;
    padding: 1rem;
}

/* Instrument badges */
.instrument-badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
}

.instrument-badge.badge-primary {
    background-color: var(--nx-primary-color);
    color: white;
}

.instrument-badge.badge-success {
    background-color: var(--nx-success-color);
    color: white;
}

/* Units display */
.units {
    font-size: 0.9em;
    color: #6c757d;
    margin-left: 0.25rem;
}

/* Custom toolbar */
.nexuslims-custom-toolbar {
    margin-bottom: 1rem;
}

/* Download buttons */
.nexuslims-download-buttons {
    margin-top: 1rem;
}

/* Override #content from static/css/extra.css
   to increase the width of the main content region
*/
#content {
    width: calc(100% - 1.5em);
    /*width: calc(100% - 1.5em);*/
    min-height: calc(100% - 151px);
    background-color: #fff;
    /*margin: 0 1.5em;*/
    margin: 0.5em 0.5em;
    padding: 4.5rem 1.5em 2.5em 1.5em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* nav styling */
#nav {
    width: 100%;
    margin-left: -0.5;
    background-color: #f8f8f8 !important;
    border: 1px solid transparent !important;
    border-color: #e7e7e7 !important;
    border-width: 0 1px 4px 1px !important;
    font-size: 0.80em !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 500 !important;
    box-shadow: none !important;
}

/* nav link colors and padding - match 2.21.0 */
#nav > ul > li > a:not(.btn-custom),
#nav > ul > li > div > a:not(.btn-custom) {
    color: #444 !important;
   	padding: 0.7em !important;

}

#nav > ul > li > a:not(.btn-custom):hover,
#nav > ul > li > div > a:not(.btn-custom):hover {
    color: #888 !important;
    background-color: transparent !important;
}


/* CDCS main menu item (logo) */
#nav > ul > #cdcs-main {
    float: left !important;
    text-align: left !important;
    padding-left: 0em !important;
}

#nav > ul > #cdcs-main > div > a {
    padding: 0.5em 0.5em !important;
}

/* CDCS menu title logo styling */
#cdcs-menu-title > a > img {
    height: auto !important;
    width: auto !important;
    max-height: 1.5em !important;
    max-width: 300px !important;
    line-height: 1.5em !important;
    vertical-align: middle !important;
}

#cdcs-menu-title a {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    margin-left: 1.2em !important;
}

/* Menu item icons */
i.menu-fa {
    margin: 0 0.35em !important;
}

/* CDCS menu item styling */
a.cdcs-menu-item {
    padding-right: 0.5em !important;
}

a.cdcs-menu-item > i.fa {
    margin-right: 0.5em !important;
}

/* Custom button styling - match 2.21.0 */
.btn-custom {
    color: white !important;
    background-color: #11659c !important;
    border-radius: 10px !important;
    background-size: 0em !important;
    font-size: inherit !important;
    line-height: 1.2em !important;
    margin: 0.6em auto !important;
}

.btn-custom:hover {
    color: #333 !important;
    background-color: #f5c636 !important;
    transition: all 0.3s ease-in-out !important;
}

/* footer styling */
#footer {
    width: calc(100% + 0.5em);
    margin: 1em -0.5em 0.5em -0.5em !important;
    height: auto !important;
    min-height: 2.25em !important;
    padding: 0.25em 0 !important;
    background-color: #f8f8f8 !important;
    border: 1px solid transparent !important;
    border-color: #e7e7e7 !important;
    border-width: 4px 1px 0px 1px !important;
    color: #999 !important;
}

#footer div {
    margin: 0.25em 1.2em !important;
}

#footer a {
    color: #999 !important;
}

#footer a:hover {
    text-decoration: underline !important;
}

/* footer logo - increase size and keep centered */
.footer-logo {
    vertical-align: middle;
    margin: 0;
    height: 3em;
}

/* CDCS logo in footer - increase size */
.cdcs-logo {
    vertical-align: middle;
    width: 1.5em !important;
    margin-left: 0.25em !important;
    bottom: auto !important;
}


/* smaller screen title bar styling */
#titleBar {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
	position: sticky;
	top: 0;
	/* display: block removed - let base CSS control visibility based on screen size */
	width: 100%;
	z-index: 10001;
	height: 44px;
	background-color: #f8f8f8;
	line-height: 44px;
	border: 1px solid transparent;
    border-color: #e7e7e7;
    border-width: 0 1px 4px 1px;
    box-shadow: none;
}
#titleBar .title img {
	max-height: 40px;
	vertical-align: bottom;
	padding-top: 4px;
	padding-bottom: 8px;
}

#titleBar .title {
	display: block;
	position: relative;
	font-weight: 600;
	text-align: center;
	color: #fff;
	z-index: 1;
}
#titleBar .toggle {
	text-decoration: none;
	border: 0;
	height: 60px;
	left: 0;
	position: absolute;
	top: 0;
	width: 80px;
	z-index: 2;
}

#titleBar .toggle:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#titleBar .toggle:before {
	content: '\f0c9';
	display: block;
	height: 44px;
	text-align: center;
	width: 44px;
	color: #999;
}

#titleBar .toggle:hover:before {
	color: #333;
}
